<!-- Title Bar -->
<div class="title-bar">
  <label class="title center">
    {{ !!modalCtrl.widget.id ? 'Modify Widget' : 'Add Widget' | translate }}
  </label>
  <span zf-close="" class="left"></a><button class="tiny">{{ 'Cancel' | translate }}</button></a></span>
  <span zf-close="" class="right"><button ng-click="modalCtrl.save()" class="tiny">{{ 'Done' | translate }}</button></span>
</div>

<!-- Active Step/Step Buttons -->
<div class="vertical grid-block align-center wizard-steps">

  <div class="grid-block align-justify step-buttons active-step">
    <div class="grid-block shrink">
      <div class="grid-content collapse">
        <button class="tiny hollow float-left svg-icon"
                ng-click="modalCtrl.scroll( true )"
                ng-disabled="modalCtrl.activeTab === modalCtrl.tabs[0]">
            <span class="caret-back" ng-include="'iscBento/svg/caret-left.html'"></span>{{ 'Previous' | translate }}
        </button>
      </div>
    </div>

    <div class="grid-block">
      <div class="grid-block">
        <div class="grid-content collapse">
          <h6 class="text-center">{{ !!modalCtrl.widget.id ? 'Modify Widget' : '' | translate }} {{ modalCtrl.activeTab.instructions }}</h6>
        </div>
      </div>
    </div>

    <div class="grid-block shrink">
      <div class="grid-content collapse">
        <button class="tiny hollow float-right svg-icon"
                ng-click="modalCtrl.scroll()"
                ng-disabled="modalCtrl.activeTab === modalCtrl.tabs[modalCtrl.tabs.length - 1]">
            {{ 'Next' | translate }}<span class="caret-next" ng-include="'iscBento/svg/caret-right.html'"></span>
        </button>
      </div>
    </div>
  </div>

  <!-- Widget Title -->
  <div class="grid-block active-step align-center">
    <div class="grid-block small-10">
      <div class="grid-content collapse">
        <span class="inline-label">
          <span class="form-label">{{ 'Widget Title:' | translate }}</span>
          <input type="text"
                 placeholder="Name Your Widget"
                 ng-model="modalCtrl.widget.name"
                 ng-change="modalCtrl.renameWidget( modalCtrl.widget.name )">
        </span>
      </span>
      </div>
    </div>
  </div>
</div>
